<div class="template">
    <!--
        The page's header
    -->
    <header id="main-header">
        <h1>KinoXP</h1>
        <nav>
            <ul id="main-navigation-ul"></ul>
        </nav>
    </header>
    
    <!--
        The page's main content.
        This is where the content of the page is rendered by Render.js
    -->
    <div id="main-content"></div>
    
    <!--
        The page's footer
    
    <footer id="main-footer">
        <p>Lorem ipsum ...</p>
    </footer>
    -->
</div>